@model IEnumerable<MotorCycleWebsite.Models.Brands>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="sayfaMainTable">

    <input type="submit" id="btnAdd" value="Create" onclick="window.location='/Brands/Create/'" />
    <div id="altAlanTable">
        <table>
            <tr>
                <td id="thTablePage">@Html.DisplayNameFor(model => model.ImageUrl)</td>
                <td id="thTablePage">@Html.DisplayNameFor(model => model.BrandName)</td>
                <td id="thTablePage">Action</td>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td id="tdTablePage"><img src="@item.ImageUrl" width="194" height="94" /></td>
                <td id="tdTablePage">@Html.DisplayFor(modelItem => item.BrandName)</td>
                <td id="tdButton">
                    <button id="btnUpdate">@Html.ActionLink("Edit", "Edit", new { id = item.BrandId })</button>
                    <button id="btnDelete">@Html.ActionLink("Delete", "Delete", new { id = item.BrandId })</button>
                </td>
            </tr>
            }

        </table>
    </div>
</div>